In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('../Data/ucl_stats.csv')
df

,year,team,match_played,wins,draws,losts,goals_scored,goals_conceded,gd,group_point,champions
0,1993,Marseille,6,3,3,0,14,4,10,9,1
1,1993,Milan,7,6,0,1,11,2,9,12,0
2,1993,Rangers,6,2,4,0,7,5,2,8,0
3,1993,Club Brugge,6,2,1,3,5,8,-3,5,0
4,1993,CSKA Moscow,6,0,2,4,2,11,-9,2,0
...,...,...,...,...,...,...,...,...,...,...,...
709,2020,Zenit Saint Petersburg,6,2,1,3,7,9,-2,7,0
710,2020,Valencia,8,3,2,3,13,15,-2,11,0
711,2020,Chelsea,8,3,2,3,12,16,-4,11,0
712,2020,Ajax,6,3,1,2,12,6,6,10,0
713,2020,Lille,6,0,1,5,4,14,-10,1,0

In [32]:
df.isnull().sum()

year              0
team              0
match_played      0
wins              0
draws             0
losts             0
goals_scored      0
goals_conceded    0
gd                0
group_point       0
champions         0
dtype: int64

In [33]:
df['team'].value_counts()

team
Real Madrid          24
Barcelona            23
Manchester United    22
Bayern Munich        22
Porto                22
                     ..
Qaraba?               1
1899 Hoffenheim       1
Young Boys            1
Atalanta              1
Red Bull Salzburg     1
Name: count, Length: 142, dtype: int64

In [34]:
temp = df[df['team']=='Real Madrid']

In [35]:
df.drop(columns=['year'],inplace=True)
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X

,team,match_played,wins,draws,losts,goals_scored,goals_conceded,gd,group_point
0,Marseille,6,3,3,0,14,4,10,9
1,Milan,7,6,0,1,11,2,9,12
2,Rangers,6,2,4,0,7,5,2,8
3,Club Brugge,6,2,1,3,5,8,-3,5
4,CSKA Moscow,6,0,2,4,2,11,-9,2
...,...,...,...,...,...,...,...,...,...
709,Zenit Saint Petersburg,6,2,1,3,7,9,-2,7
710,Valencia,8,3,2,3,13,15,-2,11
711,Chelsea,8,3,2,3,12,16,-4,11
712,Ajax,6,3,1,2,12,6,6,10
713,Lille,6,0,1,5,4,14,-10,1

In [36]:
y

0      1
1      0
2      0
3      0
4      0
      ..
709    0
710    0
711    0
712    0
713    0
Name: champions, Length: 714, dtype: int64

In [37]:
temp = df.iloc[:,1:]
temp.corr()

,match_played,wins,draws,losts,goals_scored,goals_conceded,gd,group_point,champions
match_played,1.000000,0.881810,0.354870,-0.332092,0.832264,0.046375,0.738255,0.701316,0.399148
wins,0.881810,1.000000,0.111423,-0.491203,0.881527,-0.138426,0.870092,0.864891,0.404209
draws,0.354870,0.111423,1.000000,-0.625482,0.212875,-0.183612,0.282042,0.212118,0.155125
losts,-0.332092,-0.491203,-0.625482,1.000000,-0.463614,0.526186,-0.672411,-0.649967,-0.257225
goals_scored,0.832264,0.881527,0.212875,-0.463614,1.000000,0.075775,0.873077,0.764339,0.396949
goals_conceded,0.046375,-0.138426,-0.183612,0.526186,0.075775,1.000000,-0.391359,-0.285354,-0.048542
gd,0.738255,0.870092,0.282042,-0.672411,0.873077,-0.391359,1.000000,0.831159,0.387477
group_point,0.701316,0.864891,0.212118,-0.649967,0.764339,-0.285354,0.831159,1.000000,0.206410
champions,0.399148,0.404209,0.155125,-0.257225,0.396949,-0.048542,0.387477,0.206410,1.000000

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=42)

In [39]:
X_train.columns

Index(['team', 'match_played', 'wins', 'draws', 'losts', 'goals_scored',
       'goals_conceded', 'gd', 'group_point'],
      dtype='object')

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

tranformer = ColumnTransformer(transformers=[
    ("trf1",StandardScaler(),['match_played', 'wins', 'draws', 'losts', 'goals_scored','goals_conceded', 'gd', 'group_point']),
    ("trf2",OneHotEncoder(sparse_output=False,handle_unknown='ignore', dtype=np.int32),['team'])
],remainder='passthrough')

In [41]:
X_train_trf = tranformer.fit_transform(X_train)

In [42]:
X_test_trf = tranformer.transform(X_test)
X_test_trf

array([[-0.78871244, -1.25905831, -0.68336744, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.16757347,  1.34281541, -1.4682009 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.78871244, -0.82541269, -0.68336744, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.78871244, -0.82541269, -1.4682009 , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.12385937,  0.47552417, -0.68336744, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.12385937,  1.34281541, -0.68336744, ...,  0.        ,
         0.        ,  0.        ]])

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.9305555555555556

In [45]:
from sklearn.tree import DecisionTreeClassifier
lr = DecisionTreeClassifier()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.9444444444444444

In [46]:
from sklearn.ensemble import RandomForestClassifier
lr = RandomForestClassifier()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.9444444444444444

In [47]:
from sklearn.svm import SVC
lr = SVC()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.9583333333333334

In [48]:
from sklearn.model_selection import cross_val_score

In [49]:
X_trf = tranformer.fit_transform(X)

In [50]:
np.mean(cross_val_score(estimator=SVC(),X=X_trf,y=y,cv=10,scoring='accuracy'))

np.float64(0.9593896713615024)

In [51]:
np.mean(cross_val_score(estimator=RandomForestClassifier(),X=X_trf,y=y,cv=10,scoring='accuracy'))

np.float64(0.9636150234741784)

In [52]:
np.mean(cross_val_score(estimator=LogisticRegression(),X=X_trf,y=y,cv=10,scoring='accuracy'))

np.float64(0.9636345852895148)

In [53]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train_trf,y_train)
y_pred = model.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.9444444444444444

In [54]:
import pickle

with open('model.pkl','wb') as f:
    pickle.dump(model, f)
    
tranformer.fit(X_train)
with open('tranformer.pkl','wb') as f:
    pickle.dump(tranformer, f)

In [55]:
X_test_trf.shape

(72, 146)

In [56]:
X_train_trf.shape

(642, 146)

In [57]:
for x in X_train_trf[0]:
    print(x,end=" ")

-0.7887124428666072 -0.8254126888746073 0.10146600700940012 0.09932832729437269 -0.356555267121388 -1.2114665548903043 0.24885148764271575 -0.7554925031008349 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0